# Bytecode & caches
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
wheels/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/

# Local SQLite DB
data/
blog.sqlite
irc.sqlite
*.db
*.sqlite3

# Static assets
aethera/static/uploads/*
!aethera/static/uploads/.gitkeep
# luxiblog/static/css/*
!aethera/static/css/.gitkeep
# aethera/static/js/*
!aethera/static/js/.gitkeep

# Virtual envs
.venv/
.rye/
env/
venv/
ENV/

# Environment files
.env
.env.*
!.env.example

# IDE files
.idea/
.vscode/
*.swp
*.swo

exported_fragments/
logs/
